<h2>Update the drone</h2><i>{{droneToEdit.name}}</i>
<form action="/drones/{{droneToEdit._id}}/edit" method="POST" class="form">

  <label for="droneName" class="label">Name</label>
  <input id="droneName" name="name" type="text" value="{{droneToEdit.name}}" />

  <label for="dronePropellers" class="label">Propellers</label>
  <input id="dronePropellers" name="propellers" type="propellers" value="{{droneToEdit.propellers}}" />

  <label for="maxSpeed" class="label">Max Speed</label>
  <input id="maxSpeed" name="maxSpeed" type="maxSpeed" value="{{droneToEdit.maxSpeed}}" />
  
  <button> Update </button>
</form>